.user_access--container {
  min-height: 60dvh;
  height: auto;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box--content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.box--button {
  background: none;
  font-size: 15px;
  color: #7bd3ea;
  border: 2px solid #7bd3ea;
  border-radius: 10px;
  padding: 12px 15px;
  font-weight: 600;
}

.box--button:hover {
  background-color: #7bd3ea;
  color: white;
}
